<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArkaneSystems.MouseJiggler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArkaneSystems.MouseJiggler.Properties.Settings>
            <setting name="MinimizeOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZenJiggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JigglePeriod" serializeAs="String">
                <value>60</value>
            </setting>
        </ArkaneSystems.MouseJiggler.Properties.Settings>
    </userSettings>
</configuration>